In [23]:
import pandas as pd
import numpy as np

In [3]:
movies = pd.read_csv('../data/imdb-processed.csv')
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4329 entries, 0 to 4328
Data columns (total 70 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   4329 non-null   object
 1   title                4329 non-null   object
 2   genres               4329 non-null   object
 3   weighted_rating      4329 non-null   float64
 4   release_year         4329 non-null   int64
 5   rating_1             4329 non-null   int64
 6   rating_2             4329 non-null   int64
 7   rating_3             4329 non-null   int64
 8   rating_4             4329 non-null   int64
 9   rating_5             4329 non-null   int64
 10  rating_6             4329 non-null   int64
 11  rating_7             4329 non-null   int64
 12  rating_8             4329 non-null   int64
 13  rating_9             4329 non-null   int64
 14  rating_10            4329 non-null   int64
 15  country_0            4329 non-null   object
 16  country_0_rating_1   4329 non-null   int64
 17  country_0_rating_2   4329 non-null   int64
 18  country_0_rating_3   4329 non-null   int64
 19  country_0_rating_4   4329 non-null   int64
 20  country_0_rating_5   4329 non-null   int64
 21  country_0_rating_6   4329 non-null   int64
 22  country_0_rating_7   4329 non-null   int64
 23  country_0_rating_8   4329 non-null   int64
 24  country_0_rating_9   4329 non-null   int64
 25  country_0_rating_10  4329 non-null   int64
 26  country_1            4329 non-null   object
 27  country_1_rating_1   4329 non-null   int64
 28  country_1_rating_2   4329 non-null   int64
 29  country_1_rating_3   4329 non-null   int64
 30  country_1_rating_4   4329 non-null   int64
 31  country_1_rating_5   4329 non-null   int64
 32  country_1_rating_6   4329 non-null   int64
 33  country_1_rating_7   4329 non-null   int64
 34  country_1_rating_8   4329 non-null   int64
 35  country_1_rating_9   4329 non-null   int64
 36  country_1_rating_10  4329 non-null   int64
 37  country_2            4329 non-null   object
 38  country_2_rating_1   4329 non-null   int64
 39  country_2_rating_2   4329 non-null   int64
 40  country_2_rating_3   4329 non-null   int64
 41  country_2_rating_4   4329 non-null   int64
 42  country_2_rating_5   4329 non-null   int64
 43  country_2_rating_6   4329 non-null   int64
 44  country_2_rating_7   4329 non-null   int64
 45  country_2_rating_8   4329 non-null   int64
 46  country_2_rating_9   4329 non-null   int64
 47  country_2_rating_10  4329 non-null   int64
 48  country_3            4329 non-null   object
 49  country_3_rating_1   4329 non-null   int64
 50  country_3_rating_2   4329 non-null   int64
 51  country_3_rating_3   4329 non-null   int64
 52  country_3_rating_4   4329 non-null   int64
 53  country_3_rating_5   4329 non-null   int64
 54  country_3_rating_6   4329 non-null   int64
 55  country_3_rating_7   4329 non-null   int64
 56  country_3_rating_8   4329 non-null   int64
 57  country_3_rating_9   4329 non-null   int64
 58  country_3_rating_10  4329 non-null   int64
 59  country_4            4329 non-null   object
 60  country_4_rating_1   4329 non-null   int64
 61  country_4_rating_2   4329 non-null   int64
 62  country_4_rating_3   4329 non-null   int64
 63  country_4_rating_4   4329 non-null   int64
 64  country_4_rating_5   4329 non-null   int64
 65  country_4_rating_6   4329 non-null   int64
 66  country_4_rating_7   4329 non-null   int64
 67  country_4_rating_8   4329 non-null   int64
 68  country_4_rating_9   4329 non-null   int64
 69  country_4_rating_10  4329 non-null   int64
dtypes: float64(1), int64(61), object(8)
memory usage: 2.3+ MB

In [4]:
movies['total_votes'] = movies.loc[:, 'rating_1':'rating_10'].sum(axis='columns')

In [5]:
def calc_polarization(row):
    total_score = 0
    for rating_1 in range(1, 11):
        for rating_2 in range(rating_1 + 1, 11):
            total_score += row[f'rating_{rating_1}'] / row['total_votes'] * row[f'rating_{rating_2}'] / row['total_votes'] * (rating_2 - rating_1)

    return total_score

In [6]:
movies['polarization_score'] = movies.apply(calc_polarization, axis='columns')

In [9]:
movies.sort_values('polarization_score', ascending=False).head(25)

,id,title,genres,weighted_rating,release_year,rating_1,rating_2,rating_3,rating_4,rating_5,...,country_4_rating_3,country_4_rating_4,country_4_rating_5,country_4_rating_6,country_4_rating_7,country_4_rating_8,country_4_rating_9,country_4_rating_10,total_votes,polarization_score
3314,tt4776998,The Promise,"Action,Adventure,Drama",6.1,2017,71664,785,464,775,1792,...,0,3,3,19,33,24,53,4487,179364,2.203718
4326,tt7668842,Enes Batur: Imagination or Reality?,Comedy,2.0,2018,21542,748,526,347,471,...,0,1,0,0,0,0,0,176,56291,2.186839
4283,tt6277462,Brahmastra Part One: Shiva,"Action,Adventure,Fantasy",5.6,2022,42059,3965,2358,2499,3614,...,39,40,58,69,77,71,70,359,113603,2.150143
3628,tt26932223,Bhool Bhulaiyaa 3,"Comedy,Fantasy,Horror",4.7,2024,22601,5180,4905,3708,1539,...,27,32,42,38,30,20,8,77,76926,2.138212
4305,tt12915716,Adipurush,"Action,Drama",2.7,2023,51121,3081,1575,1054,1077,...,16,5,5,2,3,5,2,51,135200,2.120026
4172,tt10028196,Laal Singh Chaddha,"Comedy,Drama,Romance",5.6,2022,97775,4265,1436,973,1495,...,41,53,92,130,172,180,142,900,179265,2.107484
4106,tt10083340,Gangubai Kathiawadi,"Biography,Crime,Drama",7.8,2022,16466,1161,763,856,1517,...,12,15,37,79,160,186,103,178,63758,1.976030
4055,tt12844910,Pathaan,"Action,Adventure,Thriller",5.8,2023,36924,3847,3083,3522,5861,...,73,83,133,164,151,96,385,1235,160133,1.971061
1626,tt0368226,The Room,Drama,3.6,2003,32820,12662,8910,5200,4666,...,303,139,141,104,103,87,50,596,97179,1.956152
4324,tt11045422,Toofaan,"Drama,Sport",6.1,2021,12899,730,522,603,1027,...,7,12,22,17,29,22,14,47,52214,1.933142
4328,tt10280276,Coolie No. 1,"Action,Comedy,Romance",4.2,2020,46055,1455,760,576,525,...,19,16,12,7,5,2,1,31,74467,1.910510
1989,tt0312528,The Cat in the Hat,"Adventure,Comedy,Family",4.1,2003,11292,7248,8036,8329,8295,...,50,41,42,41,38,22,18,999,90228,1.908060
4315,tt7825208,Marighella,"Action,Drama,History",7.1,2021,38383,694,186,102,177,...,3,0,1,3,8,7,11,86,56426,1.849655
2418,tt13751694,Animal,"Action,Crime,Drama",6.1,2023,17253,3175,2982,3450,5484,...,70,79,147,175,233,232,182,790,104635,1.824146
567,tt5971474,The Little Mermaid,"Adventure,Family,Fantasy",7.2,2023,42723,8622,6100,6535,11339,...,245,279,482,741,846,381,177,247,163944,1.822957
2322,tt0240515,Freddy Got Fingered,Comedy,4.7,2001,11087,4147,3884,4137,4955,...,131,105,178,192,224,202,110,349,52708,1.812050
3224,tt11976134,Singham Again,"Action,Drama",4.8,2024,12157,5517,926,1005,1358,...,20,24,22,23,17,10,6,57,74472,1.799755
2408,tt1592873,LOL,"Comedy,Drama,Romance",4.4,2012,11531,3524,4405,5982,7520,...,131,219,260,318,197,93,34,91,58922,1.744300
7,tt20221436,Emilia Pérez,"Comedy,Crime,Drama",5.5,2024,24930,3995,3366,3753,5153,...,56,82,162,321,532,664,320,197,73792,1.737361
14,tt16539454,Pushpa: The Rule - Part 2,"Action,Crime,Drama",6.2,2024,6884,1293,1308,1629,2788,...,15,16,28,47,44,38,33,365,51953,1.725494
88,tt10886166,365 Days,"Drama,Romance",3.3,2020,30479,12563,10846,9422,8602,...,430,257,157,73,54,28,20,74,102890,1.723407
4242,tt1833673,Dhoom 3,"Action,Crime,Drama",5.4,2013,7086,2408,2786,3840,6073,...,39,79,192,342,364,267,148,488,50809,1.699323
4288,tt9531772,Sooryavanshi,"Action,Crime,Drama",5.9,2021,12368,1584,1421,1707,2685,...,41,40,50,48,40,9,13,583,80132,1.696656
3811,tt0962726,High School Musical 3: Senior Year,"Comedy,Drama,Family",5.0,2008,11257,3255,4338,6926,9800,...,157,260,341,295,232,110,61,130,69589,1.684999
67,tt2322441,Fifty Shades of Grey,"Drama,Romance,Thriller",4.2,2015,73887,26790,32232,38918,44837,...,1012,1295,1372,1074,691,387,199,609,344315,1.670584

In [11]:
def calc_country_rating(country_idx, row):
    total_rating = 0
    total_votes = 0
    for rating in range(1, 11):
        total_rating += rating * row[f'country_{country_idx}_rating_{rating}']
        total_votes += row[f'country_{country_idx}_rating_{rating}']
    return total_rating / total_votes

In [12]:
for i in range(5):
    movies[f'country_{i}_rating'] = movies.apply(lambda row: calc_country_rating(i, row), axis='columns')

In [30]:
def calc_ptp(row):
    ptp = np.ptp(row.loc['country_0_rating':'country_4_rating'])
    
    return ptp

In [31]:
movies['country_ptp'] = movies.apply(calc_ptp, axis='columns')

In [32]:
movies.sort_values('country_ptp', ascending=False).head(25)

,id,title,genres,weighted_rating,release_year,rating_1,rating_2,rating_3,rating_4,rating_5,...,country_4_rating_9,country_4_rating_10,total_votes,polarization_score,country_0_rating,country_1_rating,country_2_rating,country_3_rating,country_4_rating,country_ptp
3314,tt4776998,The Promise,"Action,Adventure,Drama",6.1,2017,71664,785,464,775,1792,...,53,4487,179364,2.203718,8.853424,1.372856,9.621135,7.973952,9.920069,8.547214
4299,tt11555492,Farha,Drama,8.0,2022,9534,177,97,127,268,...,110,4083,90080,0.981824,9.418896,2.721110,9.675454,9.617452,9.901685,7.180575
4326,tt7668842,Enes Batur: Imagination or Reality?,Comedy,2.0,2018,21542,748,526,347,471,...,0,176,56291,2.186839,5.369399,3.201413,7.219048,3.030189,9.915730,6.885542
4322,tt10554232,Dara of Jasenovac,"Drama,War",8.1,2021,3818,262,176,200,350,...,12,449,82083,0.560421,9.872591,9.197059,9.094617,9.785560,3.023002,6.849588
4314,tt27719898,Kaiva,"Action,Drama,Romance",8.5,2023,7908,1162,16,28,37,...,0,1,68958,1.159006,8.632270,5.288793,7.434343,2.772727,2.846154,5.859543
4271,tt15979666,The Archies,"Comedy,Drama,Musical",4.2,2023,7096,918,579,601,754,...,7,36,53125,1.472463,8.523331,3.764650,3.804031,4.066975,3.327014,5.196317
2683,tt0077928,Midnight Express,"Biography,Crime,Drama",7.5,1978,5628,684,675,1175,2725,...,500,280,90637,1.065465,7.436350,7.554844,3.224610,8.212210,7.648483,4.987600
4272,tt9637132,Samrat Prithviraj,"Action,Drama,History",5.6,2022,7574,964,586,637,927,...,10,53,53725,1.497891,8.384095,5.233802,5.597938,3.492119,4.573034,4.891976
7,tt20221436,Emilia Pérez,"Comedy,Crime,Drama",5.5,2024,24930,3995,3366,3753,5153,...,320,197,73792,1.737361,4.775475,2.465527,1.949050,5.211796,6.801721,4.852670
4328,tt10280276,Coolie No. 1,"Action,Comedy,Romance",4.2,2020,46055,1455,760,576,525,...,1,31,74467,1.910510,3.133739,6.429201,1.851842,4.394161,1.663772,4.765429
547,tt12610390,The Union,"Action,Comedy,Thriller",5.4,2024,1638,1505,2674,5483,11500,...,15,23,51251,1.144751,5.685642,5.469392,9.847188,5.327076,5.588772,4.520111
4305,tt12915716,Adipurush,"Action,Drama",2.7,2023,51121,3081,1575,1054,1077,...,2,51,135200,2.120026,6.059150,2.978719,2.793604,2.145765,1.755344,4.303805
4281,tt24268454,The Kerala Story,Drama,6.9,2023,10478,513,318,295,511,...,36,423,74205,1.328648,8.699332,7.564965,7.345643,4.521930,7.447977,4.177402
3224,tt11976134,Singham Again,"Action,Drama",4.8,2024,12157,5517,926,1005,1358,...,6,57,74472,1.799755,7.275109,4.190160,3.925280,3.865152,3.436538,3.838570
4325,tt8426926,Shamshera,"Action,Adventure,Drama",4.7,2022,10544,1220,733,744,1002,...,5,43,57436,1.614037,7.466221,5.546586,4.278287,5.520211,3.894198,3.572023
1989,tt0312528,The Cat in the Hat,"Adventure,Comedy,Family",4.1,2003,11292,7248,8036,8329,8295,...,18,999,90228,1.908060,5.118232,8.244359,6.655302,5.288743,8.393455,3.275222
2641,tt28075881,Do Patti,"Crime,Drama,Mystery",6.4,2024,1194,429,454,682,1284,...,16,47,68072,0.777627,9.037616,5.810345,5.800000,5.911162,5.843844,3.237616
4296,tt2574698,Gunday,"Action,Drama,Musical",2.7,2014,48265,1177,1109,1164,1416,...,14,66,60663,0.975734,1.198533,3.835285,2.925272,3.162466,4.348562,3.150029
1999,tt0829150,Dracula Untold,"Action,Drama,Fantasy",6.2,2014,11296,3059,5370,11143,24966,...,172,173,214765,1.147770,6.820921,6.537414,3.698044,6.164512,6.468003,3.122878
4287,tt27989067,Lust Stories 2,"Drama,Romance",5.8,2023,4491,375,371,629,1140,...,4,14,51676,1.252251,8.246808,5.234630,5.403797,5.689119,5.368421,3.012178
4306,tt3848892,Baby,"Action,Thriller",7.9,2015,2467,397,364,547,1140,...,60,81,61644,1.038019,8.415021,7.931081,7.946501,7.201992,5.450346,2.964674
4001,tt5968394,Captive State,"Action,Horror,Sci-Fi",6.0,2019,1502,1066,1650,3081,6399,...,32,43,59400,1.271699,8.009562,8.766216,6.658483,7.019392,5.807175,2.959042
4317,tt5988370,Reis,"Biography,Drama",1.0,2017,59696,238,63,42,76,...,0,169,74233,1.387881,2.603844,1.601604,3.547529,1.576594,4.482838,2.906244
4311,tt2372222,Kick,"Action,Comedy,Crime",6.0,2014,5701,1300,1338,2107,3389,...,74,235,73881,1.372967,8.714699,8.192760,5.926732,6.138321,6.367078,2.787967
88,tt10886166,365 Days,"Drama,Romance",3.3,2020,30479,12563,10846,9422,8602,...,20,74,102890,1.723407,5.043527,4.027778,2.946241,5.030795,2.280858,2.762669