In [2]:
import pandas as pd

In [4]:
movies = pd.read_csv('../data/imdb-processed.csv')

In [6]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4329 entries, 0 to 4328
Data columns (total 70 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   4329 non-null   object
 1   title                4329 non-null   object
 2   genres               4329 non-null   object
 3   weighted_rating      4329 non-null   float64
 4   release_year         4329 non-null   int64
 5   rating_1             4329 non-null   int64
 6   rating_2             4329 non-null   int64
 7   rating_3             4329 non-null   int64
 8   rating_4             4329 non-null   int64
 9   rating_5             4329 non-null   int64
 10  rating_6             4329 non-null   int64
 11  rating_7             4329 non-null   int64
 12  rating_8             4329 non-null   int64
 13  rating_9             4329 non-null   int64
 14  rating_10            4329 non-null   int64
 15  country_0            4329 non-null   object
 16  country_0_rating_1   4329 non-null   int64
 17  country_0_rating_2   4329 non-null   int64
 18  country_0_rating_3   4329 non-null   int64
 19  country_0_rating_4   4329 non-null   int64
 20  country_0_rating_5   4329 non-null   int64
 21  country_0_rating_6   4329 non-null   int64
 22  country_0_rating_7   4329 non-null   int64
 23  country_0_rating_8   4329 non-null   int64
 24  country_0_rating_9   4329 non-null   int64
 25  country_0_rating_10  4329 non-null   int64
 26  country_1            4329 non-null   object
 27  country_1_rating_1   4329 non-null   int64
 28  country_1_rating_2   4329 non-null   int64
 29  country_1_rating_3   4329 non-null   int64
 30  country_1_rating_4   4329 non-null   int64
 31  country_1_rating_5   4329 non-null   int64
 32  country_1_rating_6   4329 non-null   int64
 33  country_1_rating_7   4329 non-null   int64
 34  country_1_rating_8   4329 non-null   int64
 35  country_1_rating_9   4329 non-null   int64
 36  country_1_rating_10  4329 non-null   int64
 37  country_2            4329 non-null   object
 38  country_2_rating_1   4329 non-null   int64
 39  country_2_rating_2   4329 non-null   int64
 40  country_2_rating_3   4329 non-null   int64
 41  country_2_rating_4   4329 non-null   int64
 42  country_2_rating_5   4329 non-null   int64
 43  country_2_rating_6   4329 non-null   int64
 44  country_2_rating_7   4329 non-null   int64
 45  country_2_rating_8   4329 non-null   int64
 46  country_2_rating_9   4329 non-null   int64
 47  country_2_rating_10  4329 non-null   int64
 48  country_3            4329 non-null   object
 49  country_3_rating_1   4329 non-null   int64
 50  country_3_rating_2   4329 non-null   int64
 51  country_3_rating_3   4329 non-null   int64
 52  country_3_rating_4   4329 non-null   int64
 53  country_3_rating_5   4329 non-null   int64
 54  country_3_rating_6   4329 non-null   int64
 55  country_3_rating_7   4329 non-null   int64
 56  country_3_rating_8   4329 non-null   int64
 57  country_3_rating_9   4329 non-null   int64
 58  country_3_rating_10  4329 non-null   int64
 59  country_4            4329 non-null   object
 60  country_4_rating_1   4329 non-null   int64
 61  country_4_rating_2   4329 non-null   int64
 62  country_4_rating_3   4329 non-null   int64
 63  country_4_rating_4   4329 non-null   int64
 64  country_4_rating_5   4329 non-null   int64
 65  country_4_rating_6   4329 non-null   int64
 66  country_4_rating_7   4329 non-null   int64
 67  country_4_rating_8   4329 non-null   int64
 68  country_4_rating_9   4329 non-null   int64
 69  country_4_rating_10  4329 non-null   int64
dtypes: float64(1), int64(61), object(8)
memory usage: 2.3+ MB

In [37]:
movies['total_votes'] = movies[movies.columns[5:15]].sum(axis='columns')

movies

,id,title,genres,weighted_rating,release_year,rating_1,rating_2,rating_3,rating_4,rating_5,...,country_4_rating_3,country_4_rating_4,country_4_rating_5,country_4_rating_6,country_4_rating_7,country_4_rating_8,country_4_rating_9,country_4_rating_10,total_votes,total_score
0,tt14513804,Captain America: Brave New World,"Action,Adventure,Sci-Fi",6.1,2025,5542,1414,1646,2803,5664,...,54,107,189,398,377,138,50,65,52111,52111
1,tt13654226,The Gorge,"Action,Adventure,Horror",6.8,2025,580,475,765,1631,3812,...,34,53,134,328,463,239,57,81,53906,53906
2,tt5040012,Nosferatu,"Fantasy,Horror,Mystery",7.3,2024,3325,1765,2676,4214,8966,...,85,116,251,634,1207,1466,814,510,159449,159449
3,tt28607951,Anora,"Comedy,Drama,Romance",7.7,2024,2738,961,1167,1754,3650,...,40,38,93,240,623,1074,753,349,102787,102787
4,tt17526714,The Substance,"Drama,Horror,Sci-Fi",7.3,2024,9058,4209,5420,7420,13919,...,199,285,522,1072,2124,2568,1206,651,255898,255898
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4324,tt11045422,Toofaan,"Drama,Sport",6.1,2021,12899,730,522,603,1027,...,7,12,22,17,29,22,14,47,52214,52214
4325,tt8426926,Shamshera,"Action,Adventure,Drama",4.7,2022,10544,1220,733,744,1002,...,14,15,22,19,17,6,5,43,57436,57436
4326,tt7668842,Enes Batur: Imagination or Reality?,Comedy,2.0,2018,21542,748,526,347,471,...,0,1,0,0,0,0,0,176,56291,56291
4327,tt13664684,Karthikeya 2,"Action,Adventure,Fantasy",7.9,2022,3691,231,242,292,595,...,2,4,3,11,12,19,27,337,64662,64662
4328,tt10280276,Coolie No. 1,"Action,Comedy,Romance",4.2,2020,46055,1455,760,576,525,...,19,16,12,7,5,2,1,31,74467,74467

In [46]:
def calc_polarization(my_row):
    total_score = 0
    for rating in range(1, 11):
        for rating_2 in range(rating+1, 11):
            total_score += my_row[4+rating]/my_row['total_votes'] * my_row[4+rating_2]/my_row['total_votes'] * abs(rating - rating_2)

    return total_score

In [47]:
movies['polarization_score'] = movies.apply(calc_polarization, axis='columns')

In [48]:
movies

,id,title,genres,weighted_rating,release_year,rating_1,rating_2,rating_3,rating_4,rating_5,...,country_4_rating_4,country_4_rating_5,country_4_rating_6,country_4_rating_7,country_4_rating_8,country_4_rating_9,country_4_rating_10,total_votes,total_score,polarization_score
0,tt14513804,Captain America: Brave New World,"Action,Adventure,Sci-Fi",6.1,2025,5542,1414,1646,2803,5664,...,107,189,398,377,138,50,65,52111,52111,1.334969
1,tt13654226,The Gorge,"Action,Adventure,Horror",6.8,2025,580,475,765,1631,3812,...,53,134,328,463,239,57,81,53906,53906,0.926171
2,tt5040012,Nosferatu,"Fantasy,Horror,Mystery",7.3,2024,3325,1765,2676,4214,8966,...,116,251,634,1207,1466,814,510,159449,159449,0.986157
3,tt28607951,Anora,"Comedy,Drama,Romance",7.7,2024,2738,961,1167,1754,3650,...,38,93,240,623,1074,753,349,102787,102787,0.956489
4,tt17526714,The Substance,"Drama,Horror,Sci-Fi",7.3,2024,9058,4209,5420,7420,13919,...,285,522,1072,2124,2568,1206,651,255898,255898,1.094245
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4324,tt11045422,Toofaan,"Drama,Sport",6.1,2021,12899,730,522,603,1027,...,12,22,17,29,22,14,47,52214,52214,1.933142
4325,tt8426926,Shamshera,"Action,Adventure,Drama",4.7,2022,10544,1220,733,744,1002,...,15,22,19,17,6,5,43,57436,57436,1.614037
4326,tt7668842,Enes Batur: Imagination or Reality?,Comedy,2.0,2018,21542,748,526,347,471,...,1,0,0,0,0,0,176,56291,56291,2.186839
4327,tt13664684,Karthikeya 2,"Action,Adventure,Fantasy",7.9,2022,3691,231,242,292,595,...,4,3,11,12,19,27,337,64662,64662,0.824062
4328,tt10280276,Coolie No. 1,"Action,Comedy,Romance",4.2,2020,46055,1455,760,576,525,...,16,12,7,5,2,1,31,74467,74467,1.910510

In [51]:
movies.sort_values('polarization_score', ascending=False).head(20)

,id,title,genres,weighted_rating,release_year,rating_1,rating_2,rating_3,rating_4,rating_5,...,country_4_rating_4,country_4_rating_5,country_4_rating_6,country_4_rating_7,country_4_rating_8,country_4_rating_9,country_4_rating_10,total_votes,total_score,polarization_score
3314,tt4776998,The Promise,"Action,Adventure,Drama",6.1,2017,71664,785,464,775,1792,...,3,3,19,33,24,53,4487,179364,179364,2.203718
4326,tt7668842,Enes Batur: Imagination or Reality?,Comedy,2.0,2018,21542,748,526,347,471,...,1,0,0,0,0,0,176,56291,56291,2.186839
4283,tt6277462,Brahmastra Part One: Shiva,"Action,Adventure,Fantasy",5.6,2022,42059,3965,2358,2499,3614,...,40,58,69,77,71,70,359,113603,113603,2.150143
3628,tt26932223,Bhool Bhulaiyaa 3,"Comedy,Fantasy,Horror",4.7,2024,22601,5180,4905,3708,1539,...,32,42,38,30,20,8,77,76926,76926,2.138212
4305,tt12915716,Adipurush,"Action,Drama",2.7,2023,51121,3081,1575,1054,1077,...,5,5,2,3,5,2,51,135200,135200,2.120026
4172,tt10028196,Laal Singh Chaddha,"Comedy,Drama,Romance",5.6,2022,97775,4265,1436,973,1495,...,53,92,130,172,180,142,900,179265,179265,2.107484
4106,tt10083340,Gangubai Kathiawadi,"Biography,Crime,Drama",7.8,2022,16466,1161,763,856,1517,...,15,37,79,160,186,103,178,63758,63758,1.976030
4055,tt12844910,Pathaan,"Action,Adventure,Thriller",5.8,2023,36924,3847,3083,3522,5861,...,83,133,164,151,96,385,1235,160133,160133,1.971061
1626,tt0368226,The Room,Drama,3.6,2003,32820,12662,8910,5200,4666,...,139,141,104,103,87,50,596,97179,97179,1.956152
4324,tt11045422,Toofaan,"Drama,Sport",6.1,2021,12899,730,522,603,1027,...,12,22,17,29,22,14,47,52214,52214,1.933142
4328,tt10280276,Coolie No. 1,"Action,Comedy,Romance",4.2,2020,46055,1455,760,576,525,...,16,12,7,5,2,1,31,74467,74467,1.910510
1989,tt0312528,The Cat in the Hat,"Adventure,Comedy,Family",4.1,2003,11292,7248,8036,8329,8295,...,41,42,41,38,22,18,999,90228,90228,1.908060
4315,tt7825208,Marighella,"Action,Drama,History",7.1,2021,38383,694,186,102,177,...,0,1,3,8,7,11,86,56426,56426,1.849655
2418,tt13751694,Animal,"Action,Crime,Drama",6.1,2023,17253,3175,2982,3450,5484,...,79,147,175,233,232,182,790,104635,104635,1.824146
567,tt5971474,The Little Mermaid,"Adventure,Family,Fantasy",7.2,2023,42723,8622,6100,6535,11339,...,279,482,741,846,381,177,247,163944,163944,1.822957
2322,tt0240515,Freddy Got Fingered,Comedy,4.7,2001,11087,4147,3884,4137,4955,...,105,178,192,224,202,110,349,52708,52708,1.812050
3224,tt11976134,Singham Again,"Action,Drama",4.8,2024,12157,5517,926,1005,1358,...,24,22,23,17,10,6,57,74472,74472,1.799755
2408,tt1592873,LOL,"Comedy,Drama,Romance",4.4,2012,11531,3524,4405,5982,7520,...,219,260,318,197,93,34,91,58922,58922,1.744300
7,tt20221436,Emilia Pérez,"Comedy,Crime,Drama",5.5,2024,24930,3995,3366,3753,5153,...,82,162,321,532,664,320,197,73792,73792,1.737361
14,tt16539454,Pushpa: The Rule - Part 2,"Action,Crime,Drama",6.2,2024,6884,1293,1308,1629,2788,...,16,28,47,44,38,33,365,51953,51953,1.725494